.root{
    -fx-background-color: #23BAD9;
}
.botao-comemoracao{
    -fx-background-color: #43cf43;
    -fx-font-size: 18px;
    -fx-text-fill: white;

}
.botao-lamentar{
    -fx-background-color: #C08B1C;
    -fx-background-radius: 100%;
    -fx-font-size: 18px;
    -fx-text-fill: white;

}